<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    {{!--
    <!-- navbar --> --}}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
                alt="">
            Movies Torrent Download <span style="font-size:10px;">all movies hd</span>
        </a>
    </nav>
    <div class="row">
        <div class="col-md-9">
            <h1 class="h5" style="margin-left:10px">By Trending <span style="font-size:10px; ">(auto
                    update)</span></h1>


            <table class="table2" cellpadding="6" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <th class="thleft">Torrent Name</th>
                        <th class="thnormal">Size 1080p</th>
                        <th class="thnormal">Size 720p</th>
                        <th class="thnormal">Trailer</th>
                        <th class="thnormal">Rating</th>
                    </tr>
                    {{#each trending}}
                    <tr bgcolor="#F4F4F4">
                        <td> <a href="/details/movie/{{imdb_id}}">{{title}}</a>
                        </td>
                        <td class="tdnormal">{{torrents.en.1080p.filesize}}</td>
                        <td class="tdnormal">{{torrents.en.720p.filesize}}</td>

                        <td class="tdseed"><a href="{{trailer}}">Trailer</a></td>
                        <td class="tdleech">{{rating.percentage}}%</td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/trending/1">More</a>

            <h1 class="h5 mt-5" style="margin-left:10px">By Year <span style="font-size:10px; ">(auto
                    update)</span></h1>
            <table class="table2" cellpadding="6" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <th class="thleft">Torrent Name</th>
                        <th class="thnormal">Size 1080p</th>
                        <th class="thnormal">Size 720p</th>
                        <th class="thnormal">Rating</th>
                    </tr>
                    {{#each year}}
                    <tr bgcolor="#F4F4F4">
                        <td> <a href="/details/movie/{{imdb_id}}">{{title}}</a>
                        </td>
                        <td class="tdnormal">{{torrents.en.1080p.filesize}}</td>
                        <td class="tdnormal">{{torrents.en.720p.filesize}}</td>
                        <td class="tdseed"><a href="{{trailer}}">Trailer</a></td>

                        <td class="tdleech">{{rating.percentage}}%</td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>


            <h1 class="h5 mt-5" style="margin-left:10px">By Rating <span style="font-size:10px; ">(auto
                    update)</span></h1>
            <table class="table2" cellpadding="6" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <th class="thleft">Torrent Name</th>
                        <th class="thnormal">Size 1080p</th>
                        <th class="thnormal">Size 720p</th>
                        <th class="thnormal">Rating</th>
                    </tr>
                    {{#each rating}}
                    <tr bgcolor="#F4F4F4">
                        <td> <a href="/details/movie/{{imdb_id}}">{{title}}</a>
                        </td>
                        <td class="tdnormal">{{torrents.en.1080p.filesize}}</td>
                        <td class="tdnormal">{{torrents.en.720p.filesize}}</td>
                        <td class="tdseed"><a href="{{trailer}}">Trailer</a></td>

                        <td class="tdleech">{{rating.percentage}}%</td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            tes
        </div>
    </div>

</body>

</html>